body {
    font-family: 'Courier New', monospace;
    padding: 20px;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

.container{
    display: flex;
}

h1 {
    color: #007bff;
}

code {
    display: block ;
    background-color: #f8f9fa ;
    border: 1px solid #ced4da ;
    border-radius: 5px ;
    padding: 10px ;
    overflow-x: auto ;
    width: 400px ;
}

.comment {
    color: #6c757d;
}

.keyword {
    color: #d73a49;
}

.function {
    color: #6f42c1;
}

.number {
    color: #005cc5;
}

.bucket {
    width: 240px;
    height: 150px;
    /* background-color:  ; */
    border-left: 10px solid black ;
    border-right: 10px solid black ;
    border-bottom: 10px solid black ;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin: 20px;
    display: inline-block;
}